*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 1em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.top{
    height: 40vh;
    width: 100%;
    display: flex;
    
    .Barra_Top{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;


        .Textos_Superiores{
            display: flex;
            gap: 10vw;
            margin-left: 25vw;
        }

        .Barra_Superior{
            height: 25%;
            width: 100%;
            display: flex;

            .Barra_Superior1{
                background-color: rgb(71, 79, 89);
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
    
                .Titulo_Superior{
                    background-color: rgb(255, 200, 109);
                    height: 40%;
                    width: 75%;
                    margin-left: 2.5vw;
                    margin-top: 1.5vh;
                    display: flex;
                }
                .Subtexto_Superior{
                    background-color: rgb(255, 255, 255);
                    height: 12%;
                    width: 75%;
                    margin-left: 2.5vw;
                    margin-top: 1.5vh;
                    display: flex;
                }
            }
    
            .Barra_Superior2{
                background-color: rgb(71, 79, 89);
                height: 100%;
                width: 70%;
                display: flex;
                align-items: center;
        
                .Textos_Superiores{
                    background-color: rgb(255, 255, 255);
                    height: 10%;
                    width: 20%;
                    display: flex;
                    margin-left: 2.5vw;
                    margin-top: 5vh;
                }
            }
        }

        .Barra_Inferior{
            height: 75%;
            width: 100%;
            display: flex;

            .Barra_Inferior1{
                background-color: rgb(101, 106, 115);
                height: 70%;
                width: 40%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

            }

            .Barra_Inferior2{
                background-color: rgb(101, 106, 115);
                height: 70%;
                width: 60%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                .Secciones_Top{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: right;
                    gap: 3vw;
    
                    .Seccion_Top{
                        height: 100%;
                        width: 25%;
                        display: flex;
                        flex-direction: column;
        
                        .Titulo_Top{
                            background-color: rgb(255, 200, 109);
                            height: 8%;
                            width: 50%;
                            display: flex;
                            margin-top: 3vh;
                        }
    
                        .Texto_Top1{
                            background-color: rgb(255, 255, 255);
                            height: 4%;
                            width: 100%;
                            display: flex;
                            margin-top: 1vh;
                        }
    
                        .Texto_Top2{
                            background-color: rgb(255, 255, 255);
                            height: 4%;
                            width: 50%;
                            display: flex;
                            margin-top: 1vh;
                        }
                    }
                } 
            }
        }
    }
}

.middle{
    height: 70vh;
    width:100%;
    display: flex;
    gap: 1em;

    .left{
        background-color:lightslategray;
        height: 100%;
        width: 50%;
    }
    .right{
        background-color: lightgray;
        height: 100%;
        width: 50%;
    }
}

.bottom{
    height: 22vh;
    width: 100%;
    display: flex;

    .cuadradinho{
        background-color: lightskyblue;
        height: 100%;
        aspect-ratio: 1/1;

        display: flex;
        justify-content: center;
        align-items: center;

        .escudo{
            height: 100%;
        }
    }
    
    .galeria_container{
        background-color: whitesmoke;
        height: 100%;
        width: calc( 100% - 22vh );
    }
}