*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 1em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top{
    height: 33vh;
    width: 100%;
    display: flex;
    
    .Barra_Top{
        background-color: rgb(101, 106, 115);
        height: 100%;
        width: 100%;

        .Barra_Superior{
            background-color: rgb(71, 79, 89);
            height: 30%;
            width: 100%;
    
            display: flex;
            flex-direction: column;

            .Textos{
                display: flex;
            }

            .Titulo_Superior{
                background-color: rgb(255, 200, 109);
                height: 40%;
                width: 20%;
                margin-left: 4vh;
                margin-top: 2vh;
                display: flex;
            }
            .Subtexto_Superior{
                background-color: rgb(255, 255, 255);
                height: 20%;
                width: 20%;
                margin-left: 4vh;
                margin-top: 1.5vh;
                display: flex;
            }
            .Texto_Superior1{
                background-color: rgb(255, 255, 255);
                height: 20%;
                width: 10%;
                margin-top: 1.5vh;
                margin-left: 50vh;
                display: flex;
            }
            .Texto_Superior2{
                background-color: rgb(255, 255, 255);
                height: 20%;
                width: 10%;
                margin-top: 1.5vh;
                margin-left: 10vh;
                display: flex;
            }
            .Texto_Superior3{
                background-color: rgb(255, 255, 255);
                height: 20%;
                width: 10%;
                margin-top: 1.5vh;
                margin-left: 10vh;
                display: flex;
            }
        }
        .Titulo_Top1{
            background-color: rgb(255, 200, 109);
            height: 40%;
            width: 20%;
            margin-left: 4vh;
            margin-top: 2vh;
            display: flex;
        }
    }
}

.middle{
    height: 70vh;
    width:100%;
    display: flex;
    gap: 1em;

    .left{
        background-color:lightslategray;
        height: 100%;
        width: 50%;
    }
    .right{
        background-color: lightgray;
        height: 100%;
        width: 50%;
    }
}

.bottom{
    height: 22vh;
    width: 100%;
    display: flex;

    .cuadradinho{
        background-color: lightskyblue;
        height: 100%;
        aspect-ratio: 1/1;

        display: flex;
        justify-content: center;
        align-items: center;

        .escudo{
            height: 100%;
        }
    }
    
    .galeria_container{
        background-color: whitesmoke;
        height: 100%;
        width: calc( 100% - 22vh );
    }
}